
.icon-upload-cloud-1:before { content: '\e800'; } /* '' */
.icon-twitter:before { content: '\e801'; } /* '' */
.icon-facebook-1:before { content: '\e802'; } /* '' */
.icon-spin5:before { content: '\e803'; } /* '' */
.icon-link:before { content: '\e804'; } /* '' */